<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Таблицы</title>
	</head>
	<body>
		<h1>Таблицы</h1>
		<h2>Простая таблица</h2>

		<table border="1" width="800">
			<thead>
				<tr bgcolor="yellow">
					<!-- table data cell -->
					<td></td>
					<th>Продано в понедельник</th>
					<th>Продано во вторник</th>
					<th>Продано в среду</th>
				</tr>
			</thead>
			<tfoot>
				<tr>
					<th bgcolor="yellow">Бананы</th>
					<td>5кг</td>
					<td>6кг</td>
					<td>9</td>
					<!-- <td>6</td> -->
				</tr>
			</tfoot>
			<tbody>
				<tr>
					<th bgcolor="yellow">Яблоки</th>
					<!-- <td colspan="2">5кг</td> -->
					<td>5</td>
					<td>6</td>
					<td>6</td>
				</tr>
				<tr>
					<th bgcolor="yellow">Персики</th>
					<td>5кг</td>
					<td>6кг</td>
					<td>8</td>
					<!-- <td rowspan="2">6</td> -->
				</tr>
				<tr>
					<th bgcolor="yellow">Груши</th>
					<td>5кг</td>
					<td>6кг</td>
					<td>9</td>
					<!-- <td>6</td> -->
				</tr>
			</tbody>
			<!-- tabler row -->
		</table>
        <script>src ='./have.js'</script>
	</body>
</html>
